.ad-left {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(129 193 75 / 10%);
}

/* CREATE AD */
.brand-main-new {
    width: unset;
    height: unset;
    background: unset;
}

.step-select-new {
    position: absolute;
}

.ad-count-btn {
    width: 44px;
    height: 44px;
    background: #81C14B;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.ad-count-step {
    font-weight: 600;
    font-size: 16px;
    color: #81C14B;
}

.ad-count-heading {
    font-style: normal;
    font-weight: 500;
    color: #4D4D4D;
    font-weight: bold;
}

.ad-count {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.step-ad-heading {
    box-shadow: 0px 0px 10px rgb(129 193 75 / 10%);
    background-color: white;
    padding: 1rem 0rem;
}

.ad-type {
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(129 193 75 / 10%);
    margin: .5rem;
    align-items: center;
}

.btn-cancel {
    padding: 12px 3rem;
    background: #E0E0E0;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    color: black;
    font-size: 14px;
}
.btn-next {
    padding: 12px 3rem;
    background: #81C14B;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}
.ad-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-top: 1rem;
}
.step-section {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* TYPES OF TYPE */
.ad-types-type{
    flex-direction: column;
    box-shadow: unset;
}
.ad-types-type-dec{
    display: contents;
}
.ad-types-type{
    background: #F6F6F6;
    border-radius: 10px;
}
.dec-types{
    padding: 0 5rem;
    text-align: center;
    color: black;
}
.ad-types-of-type-map{
    margin: 1rem;
    padding: 1rem;
    background-color: white;
}


/* SINGLE IMAGE AD */
.navigate{
    padding-bottom: 1rem;
}
.p-heading{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #4D4D4D;
    margin-bottom: .5rem;
    margin-right: .3rem;
}
.upload-img{
    width: 400px;
    height: 200px;
    background: #F6F6F6;
    border: 1px dashed #C4C4C4;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.p-max-car{
    margin-top: .5rem;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #808080;
}
.btn-toggle {
    margin: 0 1rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: #bdc1c8;
  }
  .btn-toggle:focus,
  .btn-toggle.focus,
  .btn-toggle:focus.active,
  .btn-toggle.focus.active {
    outline: none;
  }
  .btn-toggle:before,
  .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
  }
  .btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left 0.25s;
  }
  .btn-toggle.active {
    transition: background-color 0.25s;
  }
  .btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left 0.25s;
  }
  .btn-toggle.active:before {
    opacity: 0.5;
  }
  .btn-toggle.active:after {
    opacity: 1;
  }
  .btn-size{
    padding: 12px 25px !important;
  }
  .navigate-right{
    display: block;
    text-align: end;
  }
  .navigate-color{
    color: #81C14B;
  }


  /* CAROSEL AD */
  .carosel-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ad-btn-new{
    background: transparent;
    border: 1px solid #81C14B;
    display: inline;
    font-size: 13px;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 5px;
  }