* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-section-spss {
    display: flex;
}

.sidebar-main-spss {
    position: absolute;
    width: 350px;
    height: 879px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(129, 193, 75, 0.1);
    overflow: hidden;
}

.desh-icon-main-spss {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: auto;
    margin-top: 15px;
    align-items: center;
}

.desh-icon-spss {
    display: flex;
}

.desh-icon-spss i:nth-child(1) {
    color: #6E6B7B;
    padding-right: 10px;
}

.desh-icon-spss p:nth-child(2) {
    color: #4D4D4D;
    /* font-family: 'Poppins'; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 12px;
    font-weight: 400;
}

.desh-second-spss i:nth-child(1) {
    color: #808080;
}


.create-add-main-spss {
    position: absolute;
    width: 330px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.create-add-main-second-spss {
    position: absolute;
    width: 330px;
    height: 40px;
    background: #E5F0E0;
    top: 125px;
    left: 10px;
    border-left: 2px solid #81C14B;
    align-items: center;
}

.create-add-main-third-spss {
    position: absolute;
    width: 330px;
    height: 40px;
    top: 85px;
    left: 10px;
    align-items: center;
}

.create-add-spss {
    display: flex;
    justify-content: space-between;
    width: 298px;
    margin: auto;
    align-items: center;
    margin-top: 12px;
}

.create-add-one-spss {
    display: flex;
    margin-left: 15px;
}

.create-add-one-spss i:nth-child(1) {
    color: #4D4D4D;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.create-add-one-spss p:nth-child(2) {
    color: #81C14B;
    /* font-family: 'Poppins'; */
    font-weight: 400;
    font-size: 12px;
    color: #4D4D4D;
    font-weight: bold;
}

.create-add-second-spss i:nth-child(1) {
    color: #808080;
}

.step-select-main-spss {
    width: 100%;
    height: 91px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(126, 178, 98, 0.1);
}

.step-select-spss {
    display: flex;
}

.step-select-child-spss {
    display: flex;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
}

.step-select-one-spss {
    box-sizing: border-box;
    position: absolute;
    width: 145px;
    height: 64px;
    left: 350px;
    margin-top: 14px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.step-select-child-spss button:nth-child(1) {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 22px;
    background: #81C14B;
    border-radius: 30px;
    border: none;
    margin-top: 40px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.step-select-child-spss p:nth-child(2) {
    position: absolute;
    left: 76px;
    /* font-family: 'Poppins'; */
    font-weight: 600;
    font-size: 16px;
    color: #81C14B;
    margin-top: 40px;
}

.step-select-second-spss p:nth-child(1) {
    position: absolute;
    left: 526px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 500;
    color: #4D4D4D;
    margin-top: 20px;
    font-weight: bold;
}

.step-select-second-spss p:nth-child(2) {
    position: absolute;
    left: 525px;
    /* font-family: 'Poppins'; */
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    margin-top: 50px;
}

.brand-image-main-spss {
    position: absolute;
    width: 874px;
    height: 541px;
    left: 415px;
    top: 110px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(126, 178, 98, 0.1);
    border-radius: 5px;
}

.brand-aware-text-spss p:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 20px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #81C14B;
}

.ad-heading-spss p:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 58px;
    /* font-family: 'Poppins'; */
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #4D4D4D;
}

.ad-heading-second-spss p:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 172px;
    /* font-family: 'Poppins'; */
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #4D4D4D;
}

.ad-heading-third-spss p:nth-child(1) {
    position: absolute;
    left: 20px;
    top: 272px;
    /* font-family: 'Poppins'; */
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #4D4D4D;
}

.ad-sale-spss {
    box-sizing: border-box;
    position: absolute;
    width: 402px;
    height: 45px;
    left: 20px;
    top: 89px;
    background: #FFFFFF;
       /* border: 1px solid #DEDEDE; */
    border-radius: 6px;
}

.ad-sale-spss p:nth-child(1) {
    position: absolute;
    left: 35.09px;
    top: 12px;
    /* font-family: 'Poppins'; */
    font-size: 14px;
    color: #4D4D4D;
    font-weight: bold;

}

.max-char-spss {
    position: absolute;
    left: 308px;
    top: 135px;
    /* font-family: 'Poppins'; */
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #808080;
}

.ad-sale-second-spss {
    box-sizing: border-box;
    position: absolute;
    width: 402px;
    height: 45px;
    left: 20px;
    top: 200px;
    background: #FFFFFF;
       /* border: 1px solid #DEDEDE; */
    border-radius: 6px;
}

.ad-sale-second-spss-input-new {
    box-sizing: border-box;
    /* position: absolute; */
    width: 100%;
    height: 45px;
    left: 20px;
    background: #FFFFFF;
       /* border: 1px solid #DEDEDE; */
    border-radius: 6px;
}

.ad-sale-second-spss p:nth-child(1) {
    position: absolute;
    left: 35.09px;
    top: 12px;
    /* font-family: 'Poppins'; */
    font-size: 14px;
    color: #4D4D4D;
    font-weight: bold;

}

.max-char-second-spss {
    position: absolute;
    left: 308px;
    top: 245px;
    /* font-family: 'Poppins'; */
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #808080;
}

.ad-sale-third-spss {
    box-sizing: border-box;
    position: absolute;
    width: 833px;
    height: 150px;
    left: 20px;
    top: 300px;
    background: #FFFFFF;
       /* border: 1px solid #DEDEDE; */
    border-radius: 6px;
}

.ad-sale-third-spss p:nth-child(1) {
    position: absolute;
    left: 35.09px;
    top: 12px;
    /* font-family: 'Poppins'; */
    font-size: 14px;
    color: #4D4D4D;
    font-weight: bold;

}

.max-char-third-spss {
    position: absolute;
    left: 725px;
    top: 450px;
    /* font-family: 'Poppins'; */
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #808080;
}

.upload-main-spss p:nth-child(1) {
    position: absolute;
    left: 450px;
    top: 58px;
    /* font-family: 'Poppins'; */
    font-size: 14px;
    color: #4D4D4D;
    font-weight: bold;
}

.upload-main-spss button:nth-child(2) {
    position: absolute;
    width: 401px;
    height: 196px;
    left: 450px;
    top: 88px;
    background: #F6F6F6;
    border: 1px dashed #C4C4C4;
    border-radius: 5px;
    font-size: 14px;
    /* font-family: 'Poppins'; */
    font-weight: bold;
}

.two-bumain-spss {
    display: flex;
}

.two-bumain-spss button:nth-child(1) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 5px;
    position: absolute;
    width: 111px;
    height: 43px;
    left: 585px;
    top: 480px;
    background: #F6F6F6;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size: 14px;
}

.two-bumain-spsss button:nth-child(1) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 5px;
    position: absolute;
    width: 111px;
    height: 43px;
    left: 720px;
    top: 480px;
    background: #C4C4C4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

/* .brand-image-main-spyy{
    margin-top: 70px;
} */
.brand-image-main-spss {
    margin-top: 70px;
}

.total-budget {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-budget-time{
    justify-content: space-around;
    align-items: baseline;
    background: #F6F6F6;
    height: 100px;
}
.total-budget-time p{
    font-size: 1rem;
}

.budget-btn {
    background: #81C14B;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 43px;
}
.budget-btn-main{
    display: flex;
    justify-content: end;
}
.in-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-left{
    border-bottom: 1px solid rgb(180, 180, 180);
}
.transparent-btn{
    background: transparent;
    color: #81c14b;
}
.new-recom-btn-cont-blk{
    margin: -70px 0 10px !important;
    position: absolute;
    width: 100%;
    background-color: #212529ad !important;
}
.bg-bullet{
    color: #C4C4C4;
}
.total-paid-ad{
    padding: 2rem 1rem;
    background: rgba(126, 178, 98, 0.2);
    margin-bottom: 2rem;
}
.Publish-btn{
    width: 100% !important
}